- cache render_async_cache_key(_dashboard_async_blocks_path(@project, dashboard.async_params(block, async, settings))),
                               expires_in: DashboardContent::RENDER_ASYNC_CACHE_EXPIRES_IN,
                               skip_digest: true do
  
  h3
    i.fas.fa-th
    '
    = l :risks_matrix

  canvas id="#{block}-canvas" class="matrix"
  script src="/plugin_assets/additionals/javascripts/Chart.bundle.min.js"
  script src="/plugin_assets/additionals/javascripts/chartjs-plugin-datalabels.min.js"
  script src="/plugin_assets/redmine_risks/javascripts/chartjs-chart-matrix.min.js"

  javascript:
    var ctx = document.getElementById('#{block}-canvas').getContext('2d');
    
    config = {
      datasets: [],
    };
    options = {
      legend: {
        display: false
      },
    plugins: {
      datalabels: {
        color: 'black',
        font: {
          weight: 'bold'
        },
        formatter: function(value, context) {
          if (value.v == '0') {
            return '';
          } else {
            return value.v;
          }
        }
      }
    },
      tooltips: {
        callbacks: {
          title: function() { return #{{"'" + (l :label_risks) + "'"}};},
          label: function(item, data) {
            var v = data.datasets[item.datasetIndex].data[item.index];
            return [#{{"'" + (l :field_impact) + "'"}} + ": " + v.x, #{{"'" + (l :field_probability) + "'"}} + ": " + v.y, #{{"'" + (l :number_of_risks) + "'"}} + ": " + v.v];
          }
        }
      },
      scales: {
        xAxes: [{
          type: 'category',
          labels: #{raw RisksHelper.impacts},
          gridLines: {
            display: false,
            drawBorder: false
          },
          ticks: {
            display: true
          }
        }],
        yAxes: [{
          type: 'category',
          labels: #{raw RisksHelper.probabilities},
          gridLines: {
            display: false,
            drawBorder: false
          },
          ticks: {
            display: true
          }
        }]
      }
    };

    config.datasets.push({
      label: #{l :risks_matrix},
      data: #{raw RisksHelper.datas},
      backgroundColor: function(ctx) {
        if (ctx.dataIndex % 5 == 0 || ctx.dataIndex <= 2 || ctx.dataIndex == 6) {
          return Color('green').rgbString();
        }
        else {
          if (ctx.dataIndex % 5 == 1 || ctx.dataIndex <= 8 || ctx.dataIndex == 12) {
            return Color('yellow').rgbString();	
          } 
          else {
            if (ctx.dataIndex % 5 == 2 || ctx.dataIndex <= 13 || ctx.dataIndex == 18) {
              return Color('orange').rgbString();	
            } 
            else {
              return Color('red').rgbString();										
            }
          }
        }
      },
      width: function(ctx) {
        var a = ctx.chart.chartArea;
        return (a.right - a.left) / 6 - 2;
      },
      height: function(ctx) {
        var a = ctx.chart.chartArea;
        return (a.bottom - a.top) / 6 - 2;
      }
    })

    var matrixChart = new Chart(ctx, {
      type: 'matrix',
      data: config,
      options: options
    });